@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro"),
    url("./fonts/SofiaProRegular.ttf") format("truetype");
  font-weight: normal;
}

html {
  font-size: 20px;
}

@media only screen and (min-width: 300px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (min-width: 450px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (min-width: 400px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 500px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 800px) {
  html {
    font-size: 10.5px;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1500px) {
  html {
    font-size: 19px;
  }
}

@media only screen and (min-width: 1700px) {
  html {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1900px) {
  html {
    font-size: 24px;
  }
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Sofia Pro', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}